<section
  class="mt-4 flex flex-col items-center px-4 pb-4 text-center text-sm lg:mt-8 lg:px-32 lg:pb-8 lg:text-left lg:text-base">
  <img
    class="absolute right-0 top-[10%] -z-10 w-[16%]"
    src="../../../assets/icons/SVG_ELEMENTS/400_Back.svg"
    alt="illustration" />
  <img
    class="absolute bottom-0 left-0 -z-10 w-[26%]"
    src="../../../assets/icons/SVG_ELEMENTS/100_Top.svg"
    alt="illustration" />

  <div class="max-w-prose space-y-3 pb-4 lg:space-y-4">
    <h1 class="text-lg font-bold lg:text-xl">Climbalong Privacy Policy</h1>
    <h4 class="text-xs lg:text-sm">Last Updated: July 2022</h4>
    <p class="pb-4 text-xs lg:text-sm">
      For all questions or inquiries, please contact:
      <a href="mailto:support@climbalong.com">support@climbalong.com</a>
    </p>
    <p>
      Welcome to ClimbAlong. Please read this Privacy Policy (“Privacy Policy”)
      and our Terms of Service (together the “Terms”) carefully because they
      govern your use of our Services. To make these Terms easier to read, the
      ClimbAlong websites and the ClimbAlong apps are collectively called the
      “Services,” and the terms “ClimbAlong,” “we,” and “us” refer to NorthTech
      Aps, a Danish company who the is owner and operator of ClimbAlong,
      including our affiliates and subsidiaries.
    </p>
    <p>
      This Privacy Policy is designed to help you understand how we collect,
      use, process, and share information.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">1. Scope</h2>
    <p>
      This Privacy Policy applies to all information processed by us, including
      on our websites, mobile applications, platforms, forums, blogs, and other
      online or offline offerings.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">2. Our intention</h2>
    <p>
      The ClimbAlong Services are made for everybody who loves sportsclimbing.
      ClimbAlong consists of various types of climbing-related apps that support
      climbing-related activities. The Services include a competition management
      platform, an app for individual climbers and other types of apps.
    </p>

    <p>
      Accordingly, a very integrated part of providing the Services is to
      collect and distribute information about those who use the Services
      including name, age, gender, nationality, as well as routes, climbs,
      competitions, results, rankings, etc.
    </p>
    <p>
      We will always do our utmost to protect and safeguard your information to
      avoid any unwanted or criminal use of your data.
    </p>
    <p>
      Please note, that if you do not want to share the types of information
      about yourself mentioned above via ClimbAlong, then you should either not
      provide it, or refrain from using ClimbAlong. If you do not want to use
      your real name, in most instances it is possible to use an alias instead.
    </p>

    <p>Our intention is to make it easier:</p>
    <ul class="list-disc space-y-2 px-4 lg:px-0">
      <li>
        For climbers to track performance, find good climbs, arrange small
        competitions, share their progress and results, engage with other
        climbers – in short to be a better climber, engage with other climbers,
        and to have more fun climbing,
      </li>
      <li>
        For event organizers (clubs, federations, and others) to plan
        competitions or other types of events, highlight and promote their
        competitions/events, show the results and rankings of those who
        participate in competitions / events, engage climbers and audiences,
        attract sponsors etc.
      </li>
    </ul>
    <h2 class="text-lg font-medium lg:text-xl">
      3. PERSONAL INFORMATION WE COLLECT
    </h2>
    <p>
      The information we collect depend on how you interact with us and our
      Services.
    </p>
    <p>
      You may interact with our Services as a competition or event organizer, as
      a participant or spectator of a competition or sporting events, as a
      visitor to our website, or in other capacities. We refer to all users of
      our Services as “Users” and we use the term “you” in this policy when
      discussing data practices that apply to all Users.
    </p>
    <p>
      We collect information from sources such as third-party services and
      organizations, as well as information that you provide to us directly, and
      information we obtain automatically when you use our Services.
    </p>
    <h4 class="font-medium">A. Information Collected from Other Sources</h4>
    <p>
      We may obtain information about you from third-party services and
      organizations. For example, if you access our Services through a
      third-party application, such as an app store, a third-party login
      service, or a social networking site such as Apple, Facebook, or Google,
      we may collect information about you that you have made available via your
      privacy settings, such as your name and profile picture. In addition, we
      may optionally collect email address, username, location, gender, birth
      date, and your contacts.
    </p>
    <p>
      We may also collect information about you from other users of the
      Services, such as when they mention you in their posts or comments, or in
      the context of a customer support interaction.
    </p>
    <h4 class="font-medium">B. Information You Provide to Us Directly</h4>
    <p>
      We may collect the following types of information that you provide to us,
      such as: name, age, gender, and nationality. This happens either when you
      sign up for a competition (as an athlete) or when using one of our
      Services. It may also happen if you create an account using a third-party
      login service, such as Apple ID, Google, or Facebook
    </p>

    <h4 class="font-medium">Organizer Account Creation.</h4>
    <p>
      When you create an account with us as an Organizer, we may collect
      information such as your name, email address, password, and optional
      information such as your role, country, and preferred language.
    </p>
    <h4 class="font-medium">Purchases.</h4>
    <p>
      We may collect personal information and details associated with your
      purchases (such as fees collected from Organizers associated with
      organizing events), and this information may include payment information.
      Any payments made via our Services are processed by third-party payment
      processors. We do not directly collect or store any payment card
      information entered through our Services, but we may receive information
      associated with your payment card information (e.g., your billing
      details).
    </p>
    <h4 class="font-medium">Your Communications with Us.</h4>
    <p>
      We may collect personal information, such as email address, phone number,
      or mailing address when you request information about our Services, or
      register for our newsletter, request customer or technical support, apply
      for a job, or otherwise communicate with us.
    </p>
    <h4 class="font-medium">Surveys.</h4>
    We may contact you to participate in surveys. If you
    <p>
      decide to participate, you may be asked to provide certain information,
      which may include personal information.
    </p>
    <h4 class="font-medium">Interactive Features.</h4>
    We and others who use our Services may
    <p>
      collect personal information that you submit or make available through our
      interactive features (e.g., messaging and chat features, commenting
      functionalities, forums, blogs, and social media pages). Any information
      you provide using the public sharing features of the Services (referred to
      herein as “User Content”) will be considered “public”.
    </p>
    <p>
      Please exercise caution before revealing any information that may identify
      you in the real world to other users.
    </p>
    <h4 class="font-medium">Sweepstakes or Contests.</h4>
    <p>
      We may collect personal information you provide for any sweepstakes or
      contests that we offer. In some jurisdictions, we may be required to
      publicly share information of sweepstakes and contest winners.
    </p>
    <h4 class="font-medium">Conferences, Trade Shows, and Other Events.</h4>
    <p>
      We may collect personal information from individuals when we attend or
      host conferences, trade shows, and other events.
    </p>
    <h4 class="font-medium">Job Applications.</h4>
    <p>
      We may post job openings and opportunities on our Services. If you reply
      to one of these postings by submitting your application, CV and/or cover
      letter to us, we will collect and use this information to assess your
      qualifications.
    </p>
    <h4 class="font-medium">C. Information Collected Automatically</h4>
    <p>
      We may collect personal information automatically when you use our
      Services:
    </p>
    <h4 class="font-medium">Automatic Data Collection.</h4>
    <p>
      We may collect certain information automatically when you use our
      Services, such as your Internet protocol (IP) address, user settings, MAC
      address, cookie identifiers, mobile carrier, mobile advertising and other
      unique identifiers, browser or device information, location information
      (including approximate location derived from IP address), and Internet
      service provider. We may also automatically collect information regarding
      your use of our Services, such as pages that you visit before, during and
      after using our Services, information about the links you click, the types
      of content you interact with, the frequency and duration of your
      activities, and other information about how you use our Services.
    </p>
    <h4 class="font-medium">Location Information:</h4>
    <p>
      With your consent, we may collect your precise geolocation through our
      mobile app, for example to allow you to check in at in-person events.
    </p>
    <h4 class="font-medium">
      Cookies, Pixel Tags/Web Beacons, and Other Technologies.
    </h4>
    <p>
      We, as well as third parties that provide content, advertising, or other
      functionality on our Services, may use cookies, pixel tags, and other
      technologies (“Technologies”) to automatically collect information through
      your use of our Services. Cookies are small text files placed in device
      browsers that store preferences and facilitate and enhance your
      experience. A pixel tag (also known as a web beacon) is a piece of code
      embedded in our Services that collects information about engagement on our
      Services. The use of a pixel tag allows us to record, for example, that
      you have visited a particular web page or clicked on a particular
      advertisement. We may also include web beacons in e-mails to understand
      whether messages have been opened, acted on, or forwarded.
    </p>
    <p>
      Our uses of these Technologies fall into the following general categories:
    </p>
    <h4 class="font-medium">Operationally Necessary.</h4>
    <p>
      This includes Technologies that allow you access to our Services,
      applications, and tools that are required to identify irregular website
      behavior, prevent fraudulent activity, improve security, or allow you to
      make use of our functionality;
    </p>
    <h4 class="font-medium">Performance-Related.</h4>
    <p>
      We may use Technologies to assess the performance of our Services,
      including as part of our analytic practices to help us understand how
      individuals use our Services (see Analytics below); and
    </p>
    <h4 class="font-medium">Functionality-Related.</h4>
    <p>
      We may use Technologies that allow us to offer you enhanced functionality
      when accessing or using our Services. This may include identifying you
      when you sign into our Services or keeping track of your specified
      preferences, interests, or past items viewed.
      <br />
      See
      <a href="/privacy-policy/#5"> 5. Your Privacy Choices and Rights</a>
      below to understand your choices regarding these Technologies
    </p>
    <h4 class="font-medium">Analytics.</h4>
    <p>
      We may use Technologies and other third-party tools to process analytics
      information on our Services. These technologies allow us to process usage
      data to better understand how our website and web-related Services are
      used, and to continually improve and personalize our Services.
    </p>
    <h4 class="font-medium">Social Media Platforms.</h4>
    <p>
      Our Services may contain social media buttons, such as Facebook, Google,
      and Twitter (which might include widgets such as the “share this” button
      or other interactive mini programs). These features may collect your IP
      address and which page you are visiting on our Services and may set a
      cookie to enable the feature to function properly. Your interactions with
      these platforms are governed by the privacy policy of the company
      providing it.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">
      3. HOW WE USE YOUR INFORMATION
    </h2>
    <p>
      We use your information for a variety of business purposes, including to
      provide our Services, for administrative purposes, and to market our
      products and Services, as described below.
    </p>
    <p>A. Provide Our Services</p>
    <p>
      We use your information to fulfil our contract with you and provide you
      with our Services, such as:
    </p>
    <ul class="list-disc space-y-2 px-4 lg:px-0">
      <li>Managing your information and accounts;</li>
      <li>
        Providing access to certain areas, functionalities, and features of our
        Services;
      </li>
      <li>Answering requests for customer or technical support;</li>
      <li>
        Communicating with you about your account, activities on our Services,
        and policy changes;
      </li>
      <li>
        Processing your financial information and other payment methods for
        products or Services purchased;
      </li>
      <li>
        Processing applications if you apply for a job we post on our Services;
        and
      </li>
      <li>Allowing you to register for events.</li>
    </ul>
    <p>B. Administrative Purposes</p>
    <p>We use your information for various administrative purposes, such as:</p>
    <ul class="list-disc space-y-2 px-4 lg:px-0">
      <li>
        Pursuing our legitimate interests such as direct marketing, research and
        development (including marketing research), network and information
        security, and fraud prevention;
      </li>
      <li>
        Detecting security incidents, protecting against malicious, deceptive,
        fraudulent or illegal activity, and prosecuting those responsible for
        that activity;
      </li>
      <li>Measuring interest and engagement in our Services;</li>
      <li>
        Short-term, transient use, such as contextual customization of ads;
      </li>
      <li>Improving, upgrading, or enhancing our Services;</li>
      <li>
        Developing new products and Services; Ensuring internal quality control
        and safety;
      </li>
      <li>
        Authenticating and verifying individual identities, including requests
        to exercise your rights under this policy;
      </li>
      <li>Debugging to identify and repair errors with our Services;</li>
      <li>
        Sharing information with third parties as needed to provide the
        Services;
      </li>
      <li>Enforcing our agreements and policies; and</li>
      <li>Other uses as required to comply with our legal obligations.</li>
    </ul>
    <p>C. Marketing and Advertising our Products and Services</p>
    <p>
      We may use personal information to tailor and provide you with content and
      advertisements for our Services. We may provide you with these materials
      as permitted by applicable law. If you have any questions about our
      marketing practices or if you would like to opt out of the use of your
      personal information for marketing purposes, you may contact us at any
      time on
      <a href="mailto:support@climbalong.com">support@climbalong.com</a>.
    </p>
    <p>D. Other Purposes</p>
    <p>
      We also use your information for other purposes as requested by you or as
      permitted by applicable law.
    </p>

    <h4 class="font-medium">De-identified and Aggregated Information.</h4>
    <p>
      We may use personal information and other information about you to create
      de-identified and/or aggregated information, such as de-identified
      demographic information, information about the device from which you
      access our Services, or other types of analyses we create. If we create or
      receive personal data that has been de-identified or aggregated, we will
      not attempt to reidentify it, except to comply with applicable law.
    </p>
    <h4 class="font-medium">Share Content with Friends or Colleagues.</h4>
    <p>
      Our Services may offer various tools and functionalities. For example, we
      may allow you to provide information about your friends through our
      referral services. Our referral services may allow you to forward or share
      certain content with a friend or colleague, such as an email inviting your
      friend to use our Services.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">
      4. HOW WE DISCLOSE YOUR INFORMATION
    </h2>
    <p>
      We disclose your information to third parties for a variety of business
      purposes, including to provide our Services, to protect us or others, or
      in the event of a major business transaction such as a merger, sale, or
      asset transfer, as described below.
    </p>

    <p>A. Disclosures to Provide our Services</p>
    <p>
      The categories of third parties with whom we may share your information
      are described below.
    </p>
    <h4 class="font-medium">Service Providers.</h4>
    <p>
      We may share your personal information with our third-party service
      providers who use that information to help us provide our Services. This
      includes service providers that provide us with IT support, hosting,
      payment processing, customer service, and related services.
    </p>
    <h4 class="font-medium">Business Partners.</h4>
    <p>
      We may share your personal information with business partners, such as for
      example event organizers, to provide you with a product or service you
      have requested. We may also share your personal information with business
      partners with whom we jointly offer products or services.
    </p>
    <h4 class="font-medium">Affiliates.</h4>
    <p>
      We may share your personal information with our company affiliates for our
      administrative purposes, including activities such as IT management, for
      them to provide services to you or support and supplement the Services we
      provide.
    </p>
    <p>B. Disclosures to Protect Us or Others</p>
    <p>
      We may access, preserve, and disclose any information we store associated
      with you to external parties if we, in good faith, believe doing so is
      required or appropriate to: comply with law enforcement or national
      security requests and legal process, such as a court order or subpoena;
      protect your, our, or others’ rights, property, or safety; enforce our
      policies or contracts; collect amounts owed to us; or assist with an
      investigation or prosecution of suspected or actual illegal activity.
    </p>
    <p>C. Disclosure in the Event of Merger, Sale, or Other Asset Transfers</p>
    <p>
      If we are involved in a merger, acquisition, financing due diligence,
      reorganization, bankruptcy, receivership, purchase or sale of assets, or
      transition of service to another provider, your information may be sold or
      transferred as part of such a transaction, as permitted by law and/or
      contract.
    </p>
    <h2 id="5" class="text-lg font-medium lg:text-xl">
      5. YOUR PRIVACY CHOICES AND RIGHTS
    </h2>
    <h4 class="font-medium">Your Privacy Choices.</h4>
    <p>
      The privacy choices you may have about your personal information are
      determined by applicable law and are described below.
    </p>
    <h4 class="font-medium">Email Communications.</h4>
    <p>
      If you receive an unwanted email from us, you can use the unsubscribe link
      found at the bottom of the email to opt out of receiving future emails.
      Note that you will continue to receive transaction-related emails
      regarding products or Services you have requested. We may also send you
      certain non-promotional communications regarding us and our Services, and
      you will not be able to opt out of those communications (e.g.,
      communications regarding our Services or updates to our Terms or this
      Privacy Policy).
    </p>
    <h4 class="font-medium">Mobile Devices.</h4>
    <p>
      We may send you push notifications through our mobile application. You may
      opt out from receiving these push notifications by changing the settings
      on your mobile device. With your consent, we may also collect
      location-based information via our mobile application. You may opt out of
      this collection by changing the settings on your mobile device.
    </p>
    <h4 class="font-medium">Cookies.</h4>
    <p>
      You may stop or restrict the placement of Technologies on your device or
      remove them by adjusting your preferences as your browser or device
      permits. However, if you adjust your preferences, our Services may not
      work properly. Please note that cookie-based opt-outs are not effective on
      mobile applications.
      <i>
        Please note you must separately opt out in each browser and on each
        device.</i
      >
    </p>
    <p>Your Privacy Rights.</p>
    <p>In accordance with applicable law, you may have the right to:</p>
    <h4 class="font-medium">Access Personal Information</h4>
    <p>
      about you, including: (i) confirming whether we are processing your
      personal information; (ii) obtaining access to or a copy of your personal
      information.
    </p>
    <h4 class="font-medium">Request Correction</h4>
    <p>
      of your personal information where it is inaccurate, incomplete, or
      outdated. In some cases, we may provide self-service tools that enable you
      to update your personal information.
    </p>
    <h4 class="font-medium">Request Deletion</h4>
    <p>
      of your personal information when processing is based on your consent or
      when processing is unnecessary, excessive, or noncompliant.
    </p>
    <h4 class="font-medium">Withdraw your Consent</h4>
    <p>
      to our processing of your personal information. Please note that your
      withdrawal will only take effect for future processing and will not affect
      the lawfulness of processing before the withdrawal. If you refrain from
      providing personal information or withdraw your consent to processing,
      some features of our Service may not be available.
    </p>
    <p>
      If you would like to exercise any of these rights, please contact us on
      <a href="mailto:support@climbalong.com">support@climbalong.com</a>
      . We will process such requests in accordance with applicable laws.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">
      6. SECURITY OF YOUR INFORMATION
    </h2>
    <p>
      We will do our utmost to ensure that your information is treated securely
      and in accordance with this Privacy Policy.
    </p>
    <p>
      Unfortunately, no system is 100% secure, and we cannot ensure or warrant
      the security of any information you provide to us. To the fullest extent
      permitted by applicable law, we do not accept liability for unauthorized
      disclosure.
    </p>
    <p>
      By using our Services or providing personal information to us, you agree
      that we may communicate with you electronically regarding security,
      privacy, and administrative issues relating to your use of our Services.
      If we learn of a security system’s breach, we may attempt to notify you
      electronically by posting a notice on our Services, by mail, or by sending
      an email to you.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">
      7. INTERNATIONAL DATA TRANSFERS
    </h2>
    <p>
      All information processed by us may be transferred, processed, and stored
      anywhere in the world, including, but not limited to, the EU, the United
      States, or other countries, which may have data protection laws that are
      different from the laws where you live. We endeavour to safeguard your
      information consistent with the requirements of applicable laws.
    </p>
    <h2 class="text-lg font-medium lg:text-xl">
      8. RETENTION OF PERSONAL INFORMATION
    </h2>
    <p>
      We store the personal information we collect as described in this Privacy
      Policy for as long as you use our Services, or as necessary to fulfil the
      purpose(s) for which it was collected, provide our Services, resolve
      disputes, establish legal defences, conduct audits, pursue legitimate
      business purposes, enforce our agreements, and comply with applicable
      laws.
    </p>
  </div>
</section>
