<h1 class="mb-8 mt-8 text-center text-lg font-bold lg:text-xl">
  Administration
</h1>
<img
  class="absolute bottom-0 left-0 -z-10 w-[26%]"
  src="/assets/icons/PNG_ELEMENTS/100_Top.png"
  alt="illustration" />
<img
  class="absolute right-0 top-[20%] -z-10 w-[16%]"
  src="/assets/icons/PNG_ELEMENTS/200_Back.png"
  alt="illustration" />

<!-- orange info box -->
<div
  class="flex content-center items-center justify-between rounded bg-primary p-4 px-4 pb-4 text-base font-medium leading-none text-white lg:mx-32 lg:grid-cols-8 lg:px-32 lg:text-lg">
  <p>Competitions</p>
  <p>Total: {{ allCompetitions().length }}</p>
</div>
<!-- List with competitions-->
<div class="mt-4 flex flex-col gap-2 lg:mx-32">
  <ng-container *ngFor="let comp of allCompetitions()">
    <div
      [routerLink]="['/organizer-game-page/', comp.id]"
      class="ng-star-inserted flex h-20 w-full cursor-pointer items-center gap-2 overflow-hidden rounded border border-neutral-200 bg-white shadow transition duration-300 ease-in-out hover:scale-[1.01] md:gap-4 lg:h-[108px] lg:gap-4">
      <!-- competition image -->

      <div
        class="relative grid aspect-video h-full w-1/4 place-items-center lg:h-[108px] lg:w-[210px]">
        <img src="assets/images/no-img.png" alt="competitions" />
      </div>
      <!-- competition name -->
      <div class="h-full flex-1 self-start p-2 sm:p-4 lg:self-center">
        <p class="mb-0.5 text-sm font-medium leading-5 md:text-base lg:text-lg">
          {{ comp.name }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
