<div
  class="sticky bottom-0 flex w-full flex-col items-center border-t border-neutral-100 bg-white">
  <img
    class="mt-8"
    src="../../../assets/icons/PNG_LOGO/Icon_Primary.png"
    height="32px"
    width="24px"
    alt="Icon Primary" />
  <div
    class="mt-4 place-items-center text-center text-xs leading-5 lg:mb-16 lg:mt-8 lg:grid lg:grid-cols-3 lg:text-base">
    <div class="lg:order-2">
      <p>Powered by Northtech</p>
      <p>Wildersgade 51</p>
      <p>København K</p>
      <p>CVR: 10121361 Denmark</p>
    </div>

    <div class="order-3">
      <a
        class="mt-8 block underline lg:mt-0"
        [routerLink]='"/terms-of-service"'
      >Terms of Service</a
      >
      <a
        class="block underline"
        [routerLink]='"/privacy-policy"'
      >Privacy Policy</a
      >
    </div>
    <div class="order-1">
      <p class="mt-8 lg:mt-0">Connect with us</p>
      <div class="mb-8 mt-4 flex scale-75 gap-8 text-xl lg:mb-0">
        <a
          href="https://www.facebook.com/ClimbAlong/"
          target="_blank"
          class="fa fa-facebook"></a>
        <a
          href="https://www.instagram.com/climbalong/"
          target="_blank"
          class="fa fa-instagram">
        </a>
        <a
          href="https://www.youtube.com/channel/UC_HKThmppkI3tck42dPb3Jg"
          target="_blank"
          class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
</div>
