<nav
  class="flex items-center justify-center border-b border-primary text-center lg:mx-32 lg:justify-start">
  <a
    [routerLink]="[firstTabLink]"
    routerLinkActive="text-white bg-primary rounded-t hover:bg-primary"
    class="inline-flex h-12 w-full justify-center p-2 text-center font-medium transition duration-300 ease-in-out hover:rounded-t hover:bg-orange-100 lg:p-4 lg:text-lg">
    {{ firstTabTitle }}
  </a>
  <a
    [routerLink]="[secondTabLink]"
    routerLinkActive="text-white bg-primary rounded-t hover:bg-primary"
    class="inline-flex h-12 w-full justify-center p-2 text-center font-medium transition duration-300 ease-in-out hover:rounded-t hover:bg-orange-100 lg:p-4 lg:text-lg">
    {{ secondTabTitle }}
  </a>
</nav>
